<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- Bootstrap CSS -->
        <link href="/static/css/bootstrap/bootstrap.min.css" th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet"/>

        <title>Koxx4 Website</title>
    </head>
    <body class="bg-secondary">

    <div class="container bg-gradient bg-secondary p-2">
        <div class="row g-2">
            <div class="col">
                <div class="card bg-light text-dark">
                    <img class="card-img-top p-4" src="/static/img/bic/journal-bookmark.svg"
                         th:src="@{/img/bic/journal-bookmark.svg}"
                         style=" max-height: 256px;"/>
                    <div class="card-body">
                        <h4 class="card-header">Customers management</h4>
                        <p class="card-text p-2">Here are some tools that will help you manage your customers :</p>
                        <ul class="list-group text-center">
                            <li class="list-group-item ">
                                <a class="btn btn-primary" href="#" th:href="@{/customers/list}">See, update and delete all registered customers</a>
                            </li>
                            <li class="list-group-item">
                                <a class="btn btn-outline-primary" href="#" th:href="@{/customers/search}">Search for specific customer</a>
                            </li>
                            <li class="list-group-item">
                                <a class="btn btn-success" href="#" th:href="@{/customers/createForm}">Create and add new customer</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-light text-dark">
                    <img class="card-img-top p-4" src="/static/img/shady.jpg"
                         th:src="@{/img/shady.jpg}"
                         style=" max-height: 450px;"/>
                    <div class="card-body">
                        <h4 class="card-header">Status psa</h4>
                        <p class="card-text p-2">Przejdź do strony ze statusami psa:</p>
                        <ul class="list-group text-center">
                            <li class="list-group-item ">
                                <a class="btn btn-primary" href="#" th:href="@{/shady/status}">Statusy psa</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <script src="/static/js/bootstrap/bootstrap.bundle.min.js" th:src="@{/js/bootstrap/bootstrap.bundle.min.js}" type="javascript"></script>
    </body>
</html>