<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap/bootstrap.min.css" th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet"/>

    <title>Shady status</title>
</head>
<body class="bg-secondary">

    <div class="container g-2">
            <div class="row mb-3" th:each="page : ${pagedDogStatuses}">
                <div class="col" th:each="status : ${pageStat.current}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-header" th:text="|Status ${status.id + 1}|">
                                Status nr. X
                            </h5>
                            <p class="card-text" th:text="${status.message}">Treść statusu</p>
                            <div th:if="${not #lists.isEmpty(status.medicines)}">
                                <p>Leki:</p>
                                <ul class="list-group">
                                    <li class="list-group-item" th:each="medicine : ${status.medicines}"
                                    th:text="|${medicine.name}, ilość ${medicine.dose}|">LEK</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-footer" th:text="|Data ${status.date}, ${status.time}|">Data, czas</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script src="/static/js/bootstrap/bootstrap.bundle.min.js" th:src="@{/js/bootstrap/bootstrap.bundle.min.js}" type="javascript"></script>
</body>


</html>